---
import "../styles/global.css";
import SectionInfo from "../components/Section-Info.astro";
import SectionReu from "../components/SectionReu.astro";
import happyNews from "../../public/undraw_happy_news_re_tsbd.svg?raw";
import socialInfluencer from "../../public/undraw_social_girl_re_kdrx.svg?raw";
import mentions from "../../public/undraw_mention_re_k5xc.svg?raw";
import Hero from "../components/Hero.astro";
import Pricing from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";

const { title } = Astro.props;

const infoSection = [
  {
    title: "Oportunidades para tu Producto",
    description:
      "Amplifica la visibilidad de tu producto con nuestra plataforma innovadora, diseñada para una presentación ágil y eficiente. A través de un diseño intuitivo y herramientas avanzadas, resalta de manera única las características distintivas de tu producto. Descubre cómo nuestra solución agiliza el proceso, optimizando tu tiempo y permitiéndote enfocarte en lo esencial.",
    svg: happyNews,
  },
  {
    title: "Presentación Exclusiva",
    description:
      "Destaca las cualidades excepcionales de tu producto con nuestra plataforma innovadora, diseñada para una presentación rápida y efectiva. A través de un diseño intuitivo y herramientas avanzadas, resalta de manera exclusiva lo que hace que tu producto sea especial. Explora cómo nuestra solución acelera el proceso, liberándote tiempo y permitiéndote enfocarte en lo fundamental.",
    svg: socialInfluencer,
  },
  {
    title: "Éxito Destacado",
    description:
      "Potencia la presentación de tu producto con nuestra plataforma innovadora, diseñada para ser rápida y eficaz. A través de un diseño intuitivo y herramientas avanzadas, destaca de manera distintiva las características esenciales de tu producto. Descubre cómo nuestra solución acelera el proceso, ahorrándote tiempo y permitiéndote concentrarte en lo fundamental.",
    svg: mentions,
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <Hero />
    <SectionInfo />
    {
      infoSection.map((section, index) => (
        <SectionReu
          title={section.title}
          description={section.description}
          svg={section.svg}
          index={index}
        />
      ))
    }
    <Pricing />
    <Footer />
  </body>
</html>
